<div class="form-group my-3">
  <%= form.label :url %><br>
  <%= form.text_field :url, class: 'form-control' %>
</div>

<div class="form-group my-3">

  <%= form.label :title %><br>
  <%= form.text_field :title, class: 'form-control' %>
  <% article.errors.full_messages_for(:title).each do |message| %>
    <div><%= message %></div>
  <% end %>
</div>

<div class="form-group my-3">
  <%= form.label :category_ids %><br>
  <%= form.collection_select :category_ids, Category.all, :id, :title, {}, { multiple: true, class: 'form-control' } %>
</div>

<div class="form-group my-3">
  <%= form.label :preview_picture %><br>
  <% if article.preview_picture %>
    <%= image_tag '/storage/' + article.preview_picture, class: 'form-control', style: "width: 200px" %>
  <% end %>
  <%= form.file_field :file, class: 'form-control-file' %>
  <% article.errors.full_messages_for(:preview_picture).each do |message| %>
    <div><%= message %></div>
  <% end %>
</div>

<div class="form-group my-3">
  <%= form.label :short_body %><br>
  <% article.errors.full_messages_for(:short_body).each do |message| %>
    <div class="alert alert-danger" role="alert"><%= message %></div>
  <% end %>
  <%= form.text_area :short_body, class: 'form-control' %>

</div>

<div class="form-group my-3">
  <%= form.label :body %><br>
  <%= form.text_area :body, class: 'form-control' %>
</div>

<div class="form-group my-3">
  <%= form.label :publish_date %><br>
  <%= form.date_field :publish_date, class: 'form-control' %>
</div>
