<div class="jumbotron my-3 p-3 p-md-5 text-white rounded bg-dark">
  <div class="row">
    < class="col-8">
    <h1 class="display-5"><%= @articles[0].title %></h1>
    <% unless @articles[0].short_body.blank? %>
      <p class="lead"><%= @articles[0].short_body %></p>
    <% end %>
    <p class="lead">
      <a class="btn btn-primary btn-lg"
         href="<%= post_path(slug: @articles[0].url) %>"
         role="button">
        Learn more
      </a>
    </p>
  </div>

  <% unless @articles[0].preview_picture.blank? %>
    <div class="col-4">
      <img class=""
           alt="<%= @articles[0].title %>"
           style="width: 400px;"
           src="<%= '/storage/' + @articles[0].preview_picture %>" data-holder-rendered="true">
    </div>
  <% end %>>
</div>

<div class="row">
  <div class="col-2">
    <h4>Categories</h4>
    <ul class="list-group">
      <% @categories.each do |category| %>
        <li class="list-group-item">
          <a href="<%= category_path(category) %>">
            <%= category.title %>
          </a>
        </li>
      <% end %>
    </ul>
  </div>
  <div class="col-10">
    <% if @articles.length > 1 %>
      <%= render "list", articles: @articles.drop(1) %>
    <% end %>
  </div>
</div>