<section>
  <h2 class="blog-post-title">
    <%= @article.title %>
  </h2>
  <div>
    <%@article.categories.each do |category| %>
      <%= category.title %>
    <% end %>
  </div>
  <% if @article.preview_picture %>
    <div>
      <%= image_tag '/storage/' + @article.preview_picture,
                    style: "width: 200px",
                    alt: @article.title
      %>
    </div>
  <% end %>
  <div class="blog-post-meta">
    <%= @article.publish_date %>
  </div>
  <hr>
  <div class="m-5">
    <%= raw(@article.body) %>
  </div>
</section>

<hr>
<div class="row">
  <div class="col-1 offset-9">
    <%= link_to "Edit", edit_article_path(@article), { role: 'button', class: 'btn btn-primary' } %>
  </div>

  <div class="col-1 offset-1">
    <%= link_to "Delete",
                article_path(@article),
                {
                  data: {
                    turbo_method: :delete,
                    turbo_confirm: "Are you sure?",
                  },
                  role: 'button', class: 'btn btn-danger'
                }
    %>
  </div>
</div>