<div class="row mb-3">
  <div class="col-12 text-center">
    <h2 class="blog-post-title">
      <%= @article.title %>
    </h2>
  </div>
</div>
<div class="row">
  <div class="col-12">
    <% if @article.preview_picture %>
      <%= image_tag '/storage/' + @article.preview_picture,
                    style: "width: 800px",
                    alt: @article.title,
                    class: "rounded mx-auto d-block pb-3"
      %>
    <% end %>
  </div>
</div>
<div class="row">
  <div class="col-6">
    <div>
      <%= @article.categories.map { |category| category.title }.join(', ') %>
    </div>
  </div>
  <div class="col-6">
    <div class="blog-post-meta fst-italic text-end">
      <%= @article.publish_date.to_s + ', by ' + @article.author.email %>
    </div>
  </div>
</div>


<hr>
<div class="row m-3">
  <div class="col-12">
    <%= raw(@article.body) %>
  </div>
</div>

<% if user_signed_in? && (Ability.new(current_user).can? :manage, @article) %>
  <hr>
  <div class="row mb-5">
    <div class="col-1 offset-9">
      <%= link_to "Edit", edit_article_path(@article), { role: 'button', class: 'btn btn-primary' } %>
    </div>

    <div class="col-1 offset-1">
      <%= link_to "Delete",
                  article_path(@article),
                  {
                    data: {
                      turbo_method: :delete,
                      turbo_confirm: "Are you sure?",
                    },
                    role: 'button', class: 'btn btn-danger'
                  }
      %>
    </div>
  </div>
<% end %>